<product-mainsection
                description="Streamlined and Powerful"
                desktop-image="https://artive.com.bd/media/images/Windows_ops.webp"
mobile-image="https://artive.com.bd/media/images/MOB_windows_ops_1.webp"
title="Windows OPS"></product-mainsection>


<product-navbar
        data-nav-items='[{"id": "design", "title": "Design"}, {"id": "quality", "title": "Quality"}, {"id": "features", "title": "Features"}, {"id": "specifications", "title": "Specifications"}, {"id": "download", "title": "Download"}]'></product-navbar>





<product-subfive
        id="design" content='{
    "title": "Built for Efficiency",
    "description": "Windows® 11 (Licensed) ensures the latest features while receiving regular updates and support.",
    "image": {
      "src": "https://artive.com.bd/media/images/WEB_windows_ops_2.webp",
      "height": "810",
      "alt": "Wide-Angle Autofocus Camera"
    },
    "mobimage": {
      "src": "https://artive.com.bd/media/images/MOB_windows_ops_2.webp",
      "height": "400",
      "alt": "Wide-Angle Autofocus Camera"
    }
  }'
></product-subfive>



<product-subthree
        content='{"image": "https://artive.com.bd/media/images/WEB_windows_ops_3.webp", "mobimage": "https://artive.com.bd/media/images/WEB_windows_ops_3.webp", "alt": "4K Display", "title": "Experience Super-Fast Performance", "text": "The Core i7, 2.80GHz 12th Gen in Windows OPS offers fast and powerful performance, perfect for demanding tasks. The 12th Gen Intel Core i7 is built for speed and efficiency. Combined with Windows OPS, it ensures smooth operation, easy integration, and strong performance for interactive displays or digital signage.", "icon": "", "icon-alt": ""}'
></product-subthree>






<product-subfour content='{
    "title": "Dual Display Support",
    "description": "The Windows OPS supports dual displays at 4K Ultra HD resolution (3840 x 2160) with a smooth 60Hz refresh rate using both DisplayPort and HDMI. This means you can connect two monitors—one via DP and one via HDMI—enabling clear visuals for multitasking, presentations, or any situation that benefits from two high-quality screens.",
    "icons": [
      {"src": "", "alt": ""},
      {"src": "", "alt": ""}
    ],
    "image": {"src": "https://artive.com.bd/media/images/WEB_windows_ops_4.webp", "alt": "Image alternative"}
  }'>
            </product-subfour>



<product-subthree
        content='{"image": "https://artive.com.bd/media/images/WEB_windows_ops_5.webp", "mobimage": "https://artive.com.bd/media/images/WEB_windows_ops_5.webp", "alt": "4K Display", "title": "Fast WiFi and Bluetooth", "text": "WiFi 5 is fast and good for many devices, while WiFi 6 is even faster and works better in crowded places. Bluetooth lets you easily connect to devices like keyboards and headphones. Together, they provide reliable connectivity for work and entertainment.", "icon": "", "icon-alt": ""}'
></product-subthree>


<product-subfour
id="quality"
content='{
    "title": "Solid Steel for Reliable Stability",
    "description": "the device has a strong steel frame. This makes it stable and prevents wobbling or tipping. It’s great for use in offices or homes and helps the device last longer, ensuring steady performance.",
    "icons": [
      {"src": "", "alt": ""},
      {"src": "", "alt": ""}
    ],
    "image": {"src": "https://artive.com.bd/media/images/WEB_windows_ops_6.webp", "alt": "Image alternative"}
  }'>
</product-subfour>


<product-subthree
    id="features"
    content='{"image": "https://artive.com.bd/media/images/WEB_windows_ops_7.webp", "mobimage": "https://artive.com.bd/media/images/WEB_windows_ops_7.webp", "alt": "4K Display", "title": "Optimal Cooling System", "text": "The device has two fans that run at 5 volts to keep it cool. These fans improve airflow and reduce heat buildup, helping the device run smoothly and preventing overheating. This setup is great for heavy tasks or hot environments, ensuring the device lasts longer.", "icon": "", "icon-alt": ""}'
></product-subthree>
<product-specification
        id="specifications"
  specifications='[
  {
    "title": "Processor",
    "items": [
      { "label": "Model", "values": ["ADL-12th/13th A08"] },
      { "label": "CPU", "values": ["1235U/1245U/1255U/1240P/1250P/1260P/1270P/1340P/1360P"] }
    ]
  },
  {
    "title": "Memory",
    "items": [
      { "label": "Technology", "values": ["2 x SODIMMs DDR4"] },
      { "label": "Memory", "values": ["DDR4-8GB"] }
    ]
  },
  {
    "title": "Display",
    "items": [
      { "label": "Front End Output", "values": ["DP-Max.3840 x 2160@60Hz"] },
      { "label": "JAE End", "values": ["HDMI-Max.3840 x 2160@60Hz"] }
    ]
  },
  {
    "title": "Processor Graphics Card",
    "items": [
      { "label": "Model", "values": ["CPU integrated graphics"] }
    ]
  },
  {
    "title": "Hard Disk",
    "items": [
      { "label": "SSD", "values": ["1*M.2 2280 PCIE/SATA", "1*JSATA 2.5-inch hard drive"] }
    ]
  },
  {
    "title": "WiFi",
    "items": [
      { "label": "Interface", "values": ["M.2 2230 PCIE"] },
      { "label": "Support", "values": ["wifi5/wifi6+BT"] }
    ]
  },
  {
    "title": "I/O Interface",
    "items": [
      { "label": "JAE Connector", "values": ["1*JAE TX25 80-PIN"] },
      { "label": "LAN", "values": ["1 x RJ45 Gigabit"] },
      { "label": "USB", "values": ["4 x USB3.0 & 2 x USB2.0"] },
      { "label": "Type-C", "values": ["USB3.0"] },
      { "label": "Audio Frequency", "values": ["1 x AUDIO OUT + 1 x MIN IN"] }
    ]
  },
  {
    "title": "Super I/O",
    "items": [
      { "label": "Main board", "values": ["Reserved support RS232 Intelligent regulation of fan speed"] }
    ]
  },
  {
    "title": "Extension Interface",
    "items": [
      { "label": "Mini-PCIe (Built-in)", "values": ["1 x M.2 2230(WIFI)", "1 x M.2 2280(SSD)"] }
    ]
  },
  {
    "title": "Power Requirements",
    "items": [
      { "label": "Input Voltage", "values": ["DC-IN 19V-5A Complete machine calculation with CPU power"] },
      { "label": "Adapter", "values": ["19V 3A"] }
    ]
  },
  {
    "title": "Physical Characteristics",
    "items": [
      { "label": "Size", "values": ["180 x 119 x 30MM"] },
      { "label": "Shell Material", "values": ["Iron sheet"] }
    ]
  },
  {
    "title": "Dissipate Heat",
    "items": [
      { "label": "Cooling Mode", "values": ["5V dual fan cooling"] }
    ]
  },
  {
    "title": "Environmental",
    "items": [
      { "label": "Working Temperature", "values": ["0 - 50°C"] },
      { "label": "Relative Humidity", "values": ["5%-95% (non-condensing)"] }
    ]
  },
  {
    "title": "SDK",
    "items": [
      { "label": "Operating System", "values": ["Windows®11 (Licensed)"] }
    ]
  },
  {
    "title": "Chassis",
    "items": [
      { "label": "Chassis Size", "values": ["180mm * 119mm * 30mm"] }
    ]
  }
]'>
</product-specification>

<down-load
        id="download"
        first-title="Windows OPS"
        second-title="Windows OPS Users Manual"
        first-url="https://artive.com.bd"
        second-url="https://artive.com.bd"></down-load>